<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="login">
	<resultMap type="" id="">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="password" property="password"/>
		<result column="age" property="age"/>
		<result column="email" property="email"/>
		<result column="address" property="address"/>
		<result column="telephone" property="telephone"/>
	</resultMap>
	<sql id="user">id,name,password,age,email,address,telephone</sql>
	<sql id="insertuser">name,password,age,email,address,telephone</sql>
	<sql id="">
		<trim prefix="where" prefixOverrides="and |or">
			<if test="name != null">name=#{name}</if>
			<if test="age != null">and age=#{age}</if>
			<if test="password!=null">and password=#{passord}</if>
		</trim>
	</sql>
	<sql id="">
		<where>
			<if test="name != null">name=#{name}</if>
			<if test="age != null">and age=#{age}</if>
			<if test="password!=null">and password=#{passord}</if>
		</where>
	</sql>
	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyColumn="id">  
       insert into t_user(<include refid="insertUser"></include>) values(#{name}, #{age})  
    </insert>  
     
    <update id="updateUser" parameterType="User">  
       update t_user set name=#{name}, age=#{age} where id=#{id} 
       <if test="id != null"></if> 
    </update>  
     
    <select id="findById" parameterType="int" resultType="User">  
       select () from t_user where id=#{id}  
    </select>  
     
    <delete id="deleteUser" parameterType="int">  
       delete from t_user where id=#{id}  
    </delete>  

</mapper>